html,
body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1920px;
    font-family: 'Lato', Arial, sans-serif;
}


.menu-header {
    display: flex;
    margin-top: 30px;
    background: #FFFFFF;
    margin-left: 160px;
}

.menu-header-content {
    display: flex;
    flex-direction: row;
    margin-left: 85px;
    gap: 115px;
    margin-top: 40px;
}

.menu-header-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #475658;

}


.menu-header-phone {
    display: flex;
}

.menu-header-text-phone {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #121761;
    border-radius: 10px;
    width: 271px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #475658;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1920px;
    height: 500px;
    margin-right: 150px;
    background: #D44B4B;
}

.top-content-text {
    display: flex;
    flex-direction: column;

}

.top-content-text-left {
    margin-top: 60px;
}

.documents {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.shop-documents {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}

.doc-info {
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 10px 20px;
    display: inline-block;
    line-height: 20px;

}

.risk {
    border: 1px solid rgba(212, 75, 75, 1);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 8px 10px 20px;
    display: inline-block;
    line-height: 20px
}

.want-to-know {
    background: #FFFFFF;
    box-shadow: 2px 2px 4px #A1303C;
    border-radius: 10px;
    height: 65px;
    width: 380px;
    font-size: 17px;
    margin-top: 30px;
}


.flat {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 75px;
    justify-content: center;
}


.flat-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;

}

.flat-test {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #03073C;
    margin-top: 80px;
}

.center-content {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 150px;
}

.content {
    display: flex;
    flex-direction: row;
    border: solid 1px #F2F2F2;
    max-width: 1040px;
    gap: 100px;
    border-radius: 30px;

}

.center-content-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 6%;

}


.center-content-images {
    background-color: #D44B4B;
    width: 280px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.time-test {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #475658;
}

.flat-sale {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #03073C;
}

.send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #D44B4B;
    box-shadow: 2px 2px 5px #F0F0F0;
    border-radius: 10px;
    width: 460px;
    height: 72px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;


}

.flat-info {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #475658;
}

.list {
    position: relative;
    right: 6%;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transform: rotate(-7.6deg);
    left: -7%;
    margin-top: 16%;

}

.content-footer {
    background: #475658;
    height: 223px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    gap: 130px;
    justify-content: space-evenly;
    padding-top: 70px;

}


.content-footer-center {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    gap: 20px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}

.location {
    display: flex;
    gap: 20px;
}

.clock {
    display: flex;
    gap: 20px;
}

.contacts {
    display: flex;
    gap: 20px;
}

.content-footer-right {
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.clock-text {
    position: relative;
    left: 27%;
}













.part1 {
    margin-top: 10%;
    height: 1170px;
    background: #FAFEFF;
}

.litle-test {
    text-align: center;
}

.vopros-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #BDBDBD;
    margin-left: 7%;
    margin-bottom: 3%;

}

.first-test {
    box-sizing: border-box;
    position: relative;
    width: 1040px;
    height: 710px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
    border-radius: 20px;
    left: 22%;
}

.line-test {
    border: 1px solid #F2F2F2;
    margin-left: 7%;
    margin-right: 5%;
}

.docs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
}

.docs2 {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

.docs3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
}

.docs-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #121761;
    text-align: center;
    padding-right: 2%;
}



.docs-logo {
    padding-right: 10%;
}


.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: 5%;
}



.question-test-left {
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.question-test-right {
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.question2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 31px 21px 42px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #A8D0FB;
    border-radius: 10px;

}

.question2-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 31px 21px 70px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #A8D0FB;
    border-radius: 10px;
    margin-bottom: 27%;

}

.question2-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 31px 21px 115px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #A8D0FB;
    border-radius: 10px;

}

.question2-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 113px 21px 115px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #A8D0FB;
    border-radius: 10px;
    width: 50%;

}


.input {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    white-space: nowrap;
    position: relative;
    right: 10%;
   

}

.click {
    padding: 16px 101px 24px;
    background: #D44B4B;
    box-shadow: 2px 2px 5px #F0F0F0;
    border-radius: 10px;
    color: #F2F2F2;
    position: relative;
    left: 68%;
    top: 14%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;

}

.click2 {
    padding: 16px 90px 24px;
    background: #D44B4B;
    box-shadow: 2px 2px 5px #F0F0F0;
    border-radius: 10px;
    color: #F2F2F2;
    position: relative;
    left: 65%;
    top: 25%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;

}

.click-back {
    position: relative;
    top: 26%;
    left: 60%;
    background: white;
    border: none;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lato';
    text-align: center;
    color: #475658;
}

.strelka {
    left: 55%;
    position: relative;
    top: 32%;
} 

.test-line {
    border: 3px solid #E0E0E0;
    margin-top: 14%;
    margin-left: 6%;
    margin-right: 6%;
}

.test-line2 {
    border: 3px solid #E0E0E0;
    margin-top: 21%;
    margin-left: 6%;
    margin-right: 5%;
}

.bottom-elements {
    display: inline;

}

.bottom-elements3 {
    display: inline;
    position: relative;
    top: 11%;

}









/*.styled_checkbox{
   
    position: relative;
    cursor: pointer;
    right: 12%;
    bottom: 27px;
}
.styled_checkbox input{
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
    top:0;
}

.styled_checkbox{
    background-color: white;
    border:1px solid gray;
    padding:2px;
    border-radius: 13px;
    width: 1.2em;
    height:1.2em;
    box-sizing: border-box;
}

.styled_checkbox_box{
    transition: all 300ms;
    transform: scale(0);
    background:#121761;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.styled_checkbox input:checked + .styled_checkbox_box {
    transform: scale(1)
}